---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header currentPage='contact' />
  <main class='w-fit h-fit m-auto absolute top-0 left-0 right-0 bottom-0'>
    <h1 class="text-6xl text-center">cevi AT uji DOT es</h1>
  </main>
</Layout>
